[project]
	description = test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/fjvierap
[access "refs/for/refs/*"]
	read = group user/fjvierap
	push = group user/fjvierap
	label-Code-Review = -2..+2 group user/fjvierap
	label-Verified = -1..+1 group user/fjvierap
	rebase = group user/fjvierap
	removeReviewer = group user/fjvierap
	submit = group user/fjvierap
[access "refs/heads/*"]
	read = group user/fjvierap
	create = group user/fjvierap
	push = +force group user/fjvierap
	pushMerge = group user/fjvierap
[access "refs/tags/*"]
	push = group user/fjvierap
	push = +force group user/fjvierap
